body {
    font-family: 'Poppins', sans-serif; /* Asegúrate de que esta fuente esté enlazada */
    background-color: #F0F0F0; /* Color de fondo */
    color: #3E497A; /* Color del texto */
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #21325E; /* Color del navbar */
    padding: 15px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: #F1D00A; /* Color de los enlaces */
    text-decoration: none;
}

.titulo-mujeres h2 {
    font-size: 28px;
    color: #21325E; /* Cambia este color según tu paleta */
    text-align: center; /* Centrar el título, opcional */
    margin-top: 2rem; /* Espacio superior */
}

.imagenes-ropa {
    display: block; /* Cambiado de grid a block para usar la media query */
    
    @media (min-width: 762px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
        gap: 20px; /* Espacio entre las imágenes */
        justify-content: center; /* Centrar el grid en la página */
        margin: 0 auto; /* Centrar el contenedor */
        width: 90%; /* Ajustar el ancho */
    }
}

.ropa {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 0; /* Eliminar el padding para que la imagen ocupe todo el espacio */
    transition: box-shadow 0.3s ease;
    border-radius: 0; 
    overflow: hidden; /* Asegurarse de que no haya desbordamiento */
}

.ropa img {
    width: 100%; /* Hacer que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Hacer que la imagen ocupe todo el alto del contenedor */
    object-fit: cover; /* Ajustar la imagen para que cubra el contenedor sin distorsionarse */
    border-radius: 0; 
}

.ropa:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
